<div class="card p-5 mt-3 mb-3">
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate="" >

    <img class="mb-4" src="../../../assets/imgs/login.png" alt="" width="50" height="50">
    <h1 class="h3 mb-3 fw-normal">Ingrese sus datos</h1>

    <div class="form-floating">
      <input class="form-control" [ngClass]="{'is-invalid': loginForm.get('email')?.invalid &&
      loginForm.get('email')?.dirty}" type="email" formControlName="email" />
      <label class="floatingInput" >Email: </label>
    </div>

    <br/>

    <div class="form-floating">
      <input class="form-control" [ngClass]="{'is-invalid': loginForm.get('password')?.invalid &&
      loginForm.get('password')?.dirty}" type="password" formControlName="password" />
      <label class="floatingInput" >Password: </label>
    </div>

    <br/>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <br/>

    <button  [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    <app-alerta [alerta]="alerta"></app-alerta>

  </form>

</div>
