<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <div *ngIf="!isLogged; then nologged else logged"></div>

      <ng-template #nologged>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="" class="nav-link px-2 text-blue">Inicio</a></li>
        </ul>
        <div class="text-end">
          <button type="button" routerLink="/login" class="btn btn-success">Login </button>
          <button type="button" routerLink="/registro" class="btn btn-warning"> Regitrarse</button>
        </div>
      </ng-template>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
        <input #textoBusqueda type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
          aria-label="Search">
      </form>

      <!--Probar esta monda-->

      <ng-template #logged>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="" class="nav-link px-2 text-blue">Inicio</a></li>
          <li><a [routerLink]="['/personal', cedulaVendedor]" class="nav-link px-2 text-white">Perfil</a></li>
          <li><a routerLink="/crear_producto" class="nav-link px-2 text-white">Publicar producto</a></li>
        </ul>
        <div class="text-end">
          <label class="me-3">Bienvenido a UNIMARKET</label>
          <button type="button" (click)="logout()" class="btn btn-warning">Logout</button>
        </div>
      </ng-template>

    </div>
  </div>
</header>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <div class="seccion-pagina">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</body>


<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
    <li class="nav-item"><a href="https://www.uniquindio.edu.co/" class="nav-link px-2 text-muted">Página web</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
  </ul>
  <p class="text-center text-muted">&copy; {{uq}}</p>
</footer>
